/*
.bsxui-owl-slide-1-2-3-4 {
    display: inline-block;

    @include media-breakpoint-up(xs) {
        width: 100%;
    }
    @include media-breakpoint-up(sm) {
        width: 50%;
    }
    @include media-breakpoint-up(md) {
        width: 33.3333%;
    }
    @include media-breakpoint-up(lg) {
        width: 25%;
    }
}
*/


